.container {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

input {
  margin: .5em 1em .5em .5em;
}

.clock-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.clock {
  width: fit-content;
  text-align: center;
  position: relative;
  margin: 1rem 3rem 3rem 1rem;
}

.clock-name {
  margin: .3em 0;
}

.clock-time {
  border: 1px solid #444;
  padding: 10px;
}

.clock-close {
  width: 1.3em;
  height: 1.3em;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -1.4em;
}
